
SDL2.dll
SDL2_image.dll
SDL2_ttf.dll
zlib1.dll
msvcrt-ruby250.dll
libzstd.dll
libwinpthread-1.dll
libwebp-7.dll
libvorbisfile-3.dll
libvorbis-0.dll
libtiff-5.dll
libstdc++-6.dll
libsigc-2.0-0.dll
libpng16-16.dll
libpixman-1-0.dll
libphysfs.dll
libpcre-1.dll
libopenal-1.dll
libogg-0.dll
liblzma-5.dll
libjpeg-8.dll
libintl-8.dll
libiconv-2.dll
libharfbuzz-0.dll
libgraphite2.dll
libgmp-10.dll
libglib-2.0-0.dll
libgcc_s_dw2-1.dll
libfreetype-6.dll
libbz2-1.dll
libboost_program_options-mt.dll
fluidsynth.dll
